h1{
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #4e4e4e;
    border-radius: .3rem;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    box-sizing: border-box;
    color:#28a745;
}

.toggle{
    margin-bottom:5px; 
    background-color: black;
    border-bottom:5px #28a745 dotted;
    color:#28a745;

}

header{
    background-color: black;
    color: #28a745;
}

body{
    background-color: black;
    color: #28a745;
    text-align: center;
}

#wonPairs{
    
    border-bottom:5px #28a745 dotted;
    padding:20px;
}